<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.study.mapper.NoticeMapper">
  
  <!-- 게시글 관련 쿼리문 -->
  
  <!-- 검색 조건문 -->
  <sql id="criteria">
  	<trim prefix="AND (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            NOTICE_TITLE LIKE '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'C'.toString()">
                            NOTICE_CONTENT LIKE '%'||#{keyword}||'%' 
                        </when>
                        <when test="type == 'W'.toString()">
                            MEMBER_ID LIKE '%'||#{keyword}||'%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
  </sql>
  
  
  <!-- 게시글 등록 / oracle -->  
	<insert id="noticeRegister">
		<selectKey keyProperty="noticeNumber" resultType="int" order="BEFORE">
		SELECT NOTICE_SEQUENCE.NEXTVAL FROM DUAL
		</selectKey> 
		INSERT INTO NOTICE(NOTICE_SERIAL_NUMBER
		, NOTICE_TITLE
		, NOTICE_CONTENT
		, MEMBER_ID) 
		VALUES(#{noticeNumber}
		, #{noticeTitle}
		, #{noticeContent}
		, #{noticeWriter})
	</insert> 
	
	<!-- 게시글 조회 -->
	<select id="noticeInquire" resultType="com.study.vo.CafeNoticeVO">
		SELECT NOTICE_SERIAL_NUMBER AS noticeNumber
		, NOTICE_TITLE AS noticeTitle
		, NOTICE_CONTENT AS noticeContent
		, MEMBER_ID AS noticeWriter
		, NOTICE_REGISTRATION_DATE AS noticeRegistrationDate
		, NOTICE_UPDATE_DATE AS noticeUpdateDate
		FROM notice
		WHERE NOTICE_SERIAL_NUMBER=#{noticeNumber}
	</select>
	
	<!-- 게시글 수정 -->
	<update id="noticeModify">
		UPDATE notice 
		SET NOTICE_TITLE = #{noticeTitle}
		, NOTICE_CONTENT = #{noticeContent}
		, NOTICE_UPDATE_DATE = SYSDATE 
		WHERE NOTICE_SERIAL_NUMBER = #{noticeNumber}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="noticeDelete">
		DELETE FROM notice
		WHERE NOTICE_SERIAL_NUMBER = #{noticeNumber}
	</delete>
	
	<select id="getNoticePagingList" resultType="com.study.vo.CafeNoticeVO">
	<![CDATA[
		SELECT 
		 noticeNumber
		, noticeTitle
		, noticeContent
		, noticeWriter
		, noticeRegistrationDate
		, noticeUpdateDate
		FROM(SELECT /*+INDEX_DESC(NOTICE PK_NOTICE) */ rownum as rn
		, NOTICE_SERIAL_NUMBER AS noticeNumber
		, NOTICE_TITLE AS noticeTitle
		, NOTICE_CONTENT AS noticeContent
		, MEMBER_ID AS noticeWriter
		, NOTICE_REGISTRATION_DATE AS noticeRegistrationDate
		, NOTICE_UPDATE_DATE AS noticeUpdateDate
		FROM NOTICE
		WHERE rownum <=#{pageNum} * #{amount}
	]]>
		<if test="keyword!=null">
			<include refid="criteria"></include>
		</if>
	<![CDATA[
			)
		WHERE rn > (#{pageNum} - 1) * #{amount}
	]]>
	</select>
	
	
	<!-- 게시물 총 개수 -->
	<select id="getNoticeTotal" resultType="int">
		SELECT COUNT(NOTICE_SERIAL_NUMBER) 
		FROM notice
		<if test="keyword != null">
			WHERE NOTICE_SERIAL_NUMBER > 0<include refid="criteria"></include>
		</if>
	</select>
 
  </mapper>